# Ignore EDL files.
*.edl

# Compiler python.
*.pyc

# Videos.
*.mp4
*.mkv

# Transcripts and EDLs.
*.srt
*.edl

# Whisper models.
*.pt


# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Ignore .venv directory
.venv/
