# Ignore EDL files.
*.edl

# Compiler python.
*.pyc

# Ignore video files.
*.mp4
*.avi
*.mov
*.flv
*.wmv
*.mkv
*.webm
*.m4v
*.mpg
*.mpeg
*.3gp
*.3g2
*.vob
*.m2v
*.mp2
*.mpv
*.mpe
*.mpv2
*.divx
*.xvid
*.rm
*.rmvb
*.ogv
*.ogg
*.drc
*.gifv
*.mng
*.mts
*.m2ts
*.ts
*.vob
*.ifo
*.asf
*.asx
*.wma
*.wmv
*.wmx
*.wvx
*.wm
*.wmd
*.aif
*.iff
*.m3u
*.m4a
*.mid
*.mp3
*.mpa
*.ra
*.wav
*.wax
*.webm
*.weba
*.mka
*.opus
*.srt
*.ass
*.ssa
*.sub
*.idx
*.vtt
*.ttml
*.dfxp